@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 222.2 84% 4.9%; /* ~gray-950 */
    --card: 0 0% 100%; /* white */
    --card-foreground: 222.2 84% 4.9%; /* ~gray-950 */
    --popover: 0 0% 100%; /* white */
    --popover-foreground: 222.2 84% 4.9%; /* ~gray-950 */
    --primary: 200.4 98.1% 39.2%; /* ~sky-500 */
    --primary-foreground: 210 40% 98%; /* white */
    --secondary: 210 40% 96.1%; /* gray-100 */
    --secondary-foreground: 222.2 47.4% 11.2%; /* gray-900 */
    --muted: 210 40% 96.1%; /* gray-100 */
    --muted-foreground: 215.4 16.3% 46.9%; /* gray-500 */
    --accent: 210 40% 96.1%; /* gray-100 */
    --accent-foreground: 222.2 47.4% 11.2%; /* gray-900 */
    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 210 40% 98%; /* white */
    --border: 214.3 31.8% 91.4%; /* gray-200 */
    --input: 214.3 31.8% 91.4%; /* gray-200 */
    --ring: 200.4 98.1% 39.2%; /* ~sky-500 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%; /* ~gray-950 */
    --foreground: 210 40% 98%; /* ~gray-50 */
    --card: 222.2 84% 4.9%; /* ~gray-950 */
    --card-foreground: 210 40% 98%; /* ~gray-50 */
    --popover: 222.2 84% 4.9%; /* ~gray-950 */
    --popover-foreground: 210 40% 98%; /* ~gray-50 */
    --primary: 200.4 98.1% 39.2%; /* ~sky-500 */
    --primary-foreground: 210 40% 98%; /* white */
    --secondary: 217.2 32.6% 17.5%; /* gray-800 */
    --secondary-foreground: 210 40% 98%; /* gray-50 */
    --muted: 217.2 32.6% 17.5%; /* gray-800 */
    --muted-foreground: 215 20.2% 65.1%; /* gray-400 */
    --accent: 217.2 32.6% 17.5%; /* gray-800 */
    --accent-foreground: 210 40% 98%; /* gray-50 */
    --destructive: 0 62.8% 30.6%; /* red-900 */
    --destructive-foreground: 210 40% 98%; /* white */
    --border: 217.2 32.6% 17.5%; /* gray-800 */
    --input: 217.2 32.6% 17.5%; /* gray-800 */
    --ring: 200.4 98.1% 39.2%; /* ~sky-500 */
  }
}
